@charset “utf-8”;

/*============================================
the default style
============================================*/
*{
    margin:0; padding:0; /*reset margin and padding of every elements*/
    line-height: 1.5; /*Increase row height of all elements by 1.5*/
    color:#333333; /*text color */
}
body{
    background-color:#999999; /*the background color of the entire page*/
    text-align: center;
}
div#pagebody{
    width:796px; margin:0 auto;	/*centering the entire content*/
	text-align:left;	/*left-aligning text alignment*/
    background-color:#ffffff; /*the background color of the entire content*/
}

/*============================================
header
============================================*/
header{
    height:77px;
    background-color:#cccccc;
}
h1{
    padding:20px 0px 0px 30px;
    font-family:Arial, Helvetica, sans-serif;
}

/*============================================
problem description
============================================*/
h2{
    font-size:90%;
    margin-left:5px;
}

/*============================================
Proposed application
============================================*/
h3 {
    font-size:90%;
    margin-left:5px;
}

p {
    font-size:90%;
    margin:10px 0px 10px 10px;
    text-indent:10px;
}

