* {
  box-sizing: border-box;
}
main {
  box-sizing: border-box;
  width: 100%;
  margin-top: 100px;
  background-color: #FFFCF9;
}

nav {
  background-color: #B1EDE8;
  position: fixed;
  width: 100%;
  top: 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav img {
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
}

nav a {
  display: block;
  padding: 8px;
  padding: 14px 16px;
  color: black;
  text-decoration: none;

}

li a:hover {
  background-color: darkgray;
}

.posts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.post { 
  padding: 40px;
  border-bottom: 3px;
  border-color: black;
  border-bottom-style: solid;
  margin: auto;
}

.reactions {
  display: flex;
  flex-direction: row;
}

.reactions img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.albumArt {
  width: 400px;
  height: 400px;
}

@keyframes gradientBg {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.login_body, footer {
  background: linear-gradient(270deg, #ff6978, #b1ede8);
  background-size: 600% 600%;
  animation: gradientBg 15s ease infinite;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

h1 {
  position: relative;
  left: 1rem;
  color: ghostwhite;
  font-size: 40px;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-top: 10px;
  color: ghostwhite;
}

input {
  font-size: 14px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
}

button {
  font-size: 1rem;
  font-weight: bolder;
  padding: 10px;
  background-color: white;
  width: 100%;
  cursor: pointer;
}
.login_reactive_field {
  border: 7px solid white;
  border-radius: 15px;
}

.login_button {
  text-decoration: none;

}

button:hover {
  background-color: lightgrey;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}

/* css rules for profile page */
.profile_heading {
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 4px solid #352d39;
  border-bottom: 4px solid #352d39;
  padding-right: 4px;
}
.profile_home {
  position: fixed;
  top: 0;
  left: 50vw;
  border-left: 4px solid #352d39;
  border-right: 4px solid #352d39;
  border-bottom: 4px solid #352d39;
  margin-left: 6vw;
  padding: 13px 30px;
}

.profile_link {
  text-decoration: none;
  font-weight: bold;
  color: #352d39;
}

.profile_link:hover {
  color: #fffcf9;
}

.profile_body {
  background-color: #ff6978;
}
.profile-container {
  margin-top: 20px;
}

.profile-picture {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  display: block;
  margin-bottom: 20px;
}

.profile-username {
  font-size: 3rem;
  margin-bottom: 10px;
}

.profile-bio {
  font-style: italic;
  margin-bottom: 20px;
}

.profile-favorite-artists, .profile-favorite-genres, .profile-favorite-songs {
  background-color: #fffcf900;
  padding: 0;
}

.profile-favorite-artists li, .profile-favorite-genres li, .profile-favorite-songs li {
  margin-right: 6px;
  border: 6px solid #fffcf9;
  border-radius: 17px;
  padding: 7px;
}
/* ------------------------------------------ */